/* font style start here */
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Light.ttf") format("ttf");
  /* Add additional font formats if necessary */
}
body {
  font-family: "Roboto", sans-serif;
}
/* font style ends here  */

/*style for navigation menu starts here*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 125%;
}

li {
  float: left;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ff92a5;
}

.active {
  background-color: #ffc0cb;
}
/*style for navigation menu ends here*/

/*style for about,work, resume card starts here*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 0px 0px 0px 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.card-container {
  display: flex;
  padding: 2%;
}

/*style for about,work, resume card ends here*/

/*style for video starts here*/
.videocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #ff92a5;
}

/*style for video ends here*/

/*style for contact starts here*/

.contactheader {
  text-align: center;
  font-size: 200%;

  font-style: italic;
  color: #ff92a5;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"] {
  background-color: #ff92a5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffc0cb;
}

.containercontact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  display: grid;
  margin: 10px;
}
/*style for contact ends here*/

/*style for footer starts here*/
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 0.5%;
  color: white;
  text-align: center;
}
/*style for footer ends here*/
